<!DOCTYPE html>
<html th:fragment="footer" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>SpaceT</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/footer.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="footer">
    <div class="footernav">
      <img class="footlogo" src="../../static/images/statify-logo.png" alt="">
      <p>Contact: telegram - @exere</p>
    </div>
    <p class="text11">Copyright 2024 Statify</p>
  </div>
</body>
</html>