<!DOCTYPE html>
<html th:fragment="header" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Statify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/header.css">
    <link rel="icon" type="image/png" href="../../static/images/statify-logo.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<header class="header">


    <nav class="navbar">

        <a onclick="window.location.href='/'" class="nav__logo">
            <img class="headlogo" src="../../static/images/statify-logo.png" alt="">
        </a>


        <div class="header-elements">

            <div th:unless="${loggedIn}" class="btn login">
                <form th:action="@{/oauth2/authorization/spotify}">
                    <button type="submit" class="login-btn">
                        Log in
                    </button>
                </form>
            </div>

            <ul class="nav__menu">
                <li class="nav__item">
                    <a onclick="window.location.href='/topTrack'" class="nav__link">Top Songs</a>
                </li>
                <li class="nav__item">
                    <a onclick="window.location.href='/topArtist'" class="nav__link">Top Artists</a>
                </li>
                <li class="nav__item">
                    <a onclick="window.location.href='/topGenre'" class="nav__link">Top Genres</a>
                </li>
                <div th:if="${loggedIn}" class="btn logout">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="logout-btn">
                            Sign Out
                        </button>
                    </form>
                </div>
            </ul>
        </div>
        <div class="hamb">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>

<script src="../../static/script/burger_menu.js"></script>


</body>
</html>