html {
    background: #121212;
    font-family: 'Inter', sans-serif;
}

body {
    margin: auto;
    max-width: 1110px;
    color: white;
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    margin-left: 60px;
}

.actions {
    display: flex;
    flex-wrap: wrap; /* Flex-контейнер может переносить элементы */
    justify-content: space-between;
    align-items: center; /* Центрируем элементы вертикально */
    gap: 30px;
    margin: 0 20px;
}

.top-tracks {
    text-align: left;
}

.top-tracks p:first-child {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0;
}

.top-tracks p:last-child {
    margin-top: 0;
    font-size: 18px;
    color: #cdcdcd;
}

.table-songs {
    font-family: Arial, sans-serif;
    margin: 60px 20px 0;
}

.song-container {
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s ease;
}

.song-container:hover {
    background-color: #333333;
}

.cover {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    object-fit: cover;
    margin-right: 15px;
}

.song-data {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px; /* Leave space for the arrow */
    max-width: calc(100% - 150px); /* Ensure text fits within the container */
}

.song-name,
.artist-name,
.album-name {
    margin: 0;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.artist-album {
    display: flex;
    align-items: center;
    color: #cdcdcd;
}

.separator {
    margin: 0 10px;
}

.arrow {
    position: absolute;
    right: 10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #cdcdcd;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.number {
    margin-right: 15px;
    font-size: 16px;
    color: #cdcdcd;
    font-weight: bold;
}

.line {
    border-bottom: 1px solid #535353;
    width: 100%;
    margin: 10px 0;
}

.cover-link {
    display: block; /* Сделать ссылку блочным элементом для обертывания изображения */
    cursor: pointer; /* Изменить курсор на указатель при наведении */
}



@media only screen and (max-width: 568px) {

    .album-name, .separator {
        display: none;
    }

    .table-songs {
        margin-top: 10px;
    }

    .actions {
        width: 85%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-bottom: 10px;
    }

    .container1 {
        margin-top: 0;
        margin-left: 0;
        flex-direction: column;
    }

    .download-btn {
        display: none;
    }

    .top-tracks {
        text-align: center;
    }
}