<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Statify</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/home.css">
  <link rel="stylesheet" type="text/css" href="../static/css/imageModel.css">
  <link rel="stylesheet" type="text/css" href="../static/css/time.css">
  <link rel="icon" type="image/png" href="../static/images/statify-logo.png">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div th:replace="fragments/header :: header"></div>

  <div th:unless="${loggedIn}">
    <div class="container1">
      <div class="text-container">
        <p class="hero-text">
          <span>Discover</span> your <br>
          &nbsp;&nbsp;&nbsp; <br>
          &nbsp;&nbsp;&nbsp;top <span>tracks, </span><br>
          &nbsp;&nbsp;&nbsp;top <span>artists,</span> <br>
          &nbsp;&nbsp;&nbsp;top <span>genres</span>  <br>
          &nbsp;&nbsp;&nbsp; <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and many <span>more</span>
        </p>
      </div>
      <img src="../static/images/phone_screens.png" alt="" class="phone_screens">
    </div>
  </div>

  <div th:if="${loggedIn}">
    <div class="intro">
      <div class="user-info">
        <div class="username" th:text="${currentUser.display_name}"></div>
        <div class="user-id" th:text="'@' + ${currentUser.id}"></div>
        <div class="track-url">
          <a th:href="${currentUser.external_urls.spotify}" target="_blank">
            <img src="../static/images/Spotify_Icon_RGB_White.png" alt="Spotify Logo" class="spotify-logo">
            Open on Spotify
          </a>
        </div>
      </div>

      <a class="currently-playing-a" th:href="@{/tracks/{id}(id=${currentlyPlaying.id})}" th:if="${currentlyPlaying != null}">
        <div class="currently-playing">
            <div  class="song-image">
              <img th:src="${currentlyPlaying.album.images[0].url}" alt="Track Image" class="song-image">
            </div>
            <div class="playing-info">
              <div class="song-name" th:text="${currentlyPlaying.name}"></div>
              <div class="song-artist" th:text="${currentlyPlaying.artists[0].name}"></div>
            </div>
            <div class="sound-wave">
              <div class="bars"></div>
              <div class="bars"></div>
              <div class="bars"></div>
            </div>
        </div>
      </a>
    </div>


    <div class="actions">
        <div>
          <div class="custom-dropdown">
            <div class="dropdown-header" onclick="toggleDropdown()">
              <span th:text="${selectedOption == 'short_term' ? '4 weeks' : (selectedOption == 'medium_term' ? '6 months' : 'lifetime')}"></span>
              <span class="arrow-period">▼</span>
            </div>
            <ul class="dropdown-list" id="dropdownList">
              <li class="dropdown-item" data-value="short_term">4 weeks</li>
              <li class="dropdown-item" data-value="medium_term">6 months</li>
              <li class="dropdown-item" data-value="long_term">lifetime</li>
            </ul>
          </div>

          <form id="hiddenForm" action="/" method="get" style="display: none;">
            <input type="hidden" name="timePeriod" id="selectedTimePeriod" th:value="${selectedOption}">
          </form>
        </div>

      <!--   <div class="share-section">
           <button type="button" class="share-btn" onclick="openModal()"></button>
         </div> -->
       </div>

       <div class="top-genres-text">
         <p>Top Genres</p>
         <a class="more-btn" href="/topGenre">more</a>
       </div>

       <div class="topGenres">
         <div class="genres-list">
           <div th:each="genre : ${topGenres}" th:text="${genre}" class="genre-item"></div>
         </div>
       </div>


       <div class="top-artist-text">
         <p>Top Artists</p>
         <a class="more-btn" href="/topArtist">more</a>
       </div>
       <div class="topArtists">
         <div th:each="artist : ${artists}" class="artist">
           <a th:href="@{/artists/{id}(id=${artist.id})}">
             <div class="artists-photo">
               <img th:src="${artist.images[0].url}" alt="Artist Photo">
             </div>
             <div class="artist-name" th:text="${artist.name}"></div>
           </a>
         </div>
       </div>


       <div class="top-track-text">
         <p>Top Tracks</p>
         <a class="more-btn" href="/topTrack">more</a>
       </div>
       <div class="topTracks">
         <div th:each="track : ${tracks}" class="track">
           <a th:href="@{/tracks/{id}(id=${track.id})}">
             <div class="track-image">
               <img th:src="${track.album.images[0].url}" alt="Track Image">
             </div>
             <div class="track-name" th:text="${track.name}"></div>
             <div class="track-artist" th:text="${track.artists[0].name}"></div>
           </a>
         </div>
       </div>


       <div class="recently-played-text">
         <p>Recently Played Tracks</p>
       </div>
       <div class="recently-played-songs">
         <div th:each="playedTrack : ${recentlyPlayed}">
           <a th:href="@{/tracks/{id}(id=${playedTrack.track.id})}" class="song">
             <div class="song-image">
               <img th:src="${playedTrack.track.album.images[0].url}" alt="Song Image">
             </div>
             <div class="song-info">
               <div class="song-name" th:text="${playedTrack.track.name}"></div>
               <div class="song-artist" th:each="artist : ${playedTrack.track.getArtists()}" th:text="${artist.name} + '&nbsp;'"></div>
             </div>
           </a>
         </div>

       </div>



     </div>





     <div th:replace="fragments/footer :: footer"></div>

     <script src="../static/script/higlight_text.js"></script>
     <script src="../static/script/timeSelection.js"></script>

     </body>
   </html>
