<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top Tracks</title>
    <link rel="stylesheet" type="text/css" href="../static/css/topTracks.css">
    <link rel="stylesheet" type="text/css" href="../static/css/imageModel.css">
    <link rel="stylesheet" type="text/css" href="../static/css/time.css">
    <link rel="stylesheet" type="text/css" href="../static/css/share-playlist.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../static/images/statify-logo.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="loader" class="loader">
        <div class="note note1"></div>
        <div class="note note2"></div>
        <div class="note note3"></div>
    </div>


    <div th:replace="fragments/header :: header"></div>

    <div class="container1">
        <div class="top-tracks">
            <p>Top Tracks</p>
            <p th:text="'Your top tracks ' + ${time}"></p>
        </div>

        <div class="actions">
            <div>
                <div class="custom-dropdown">
                    <div class="dropdown-header" onclick="toggleDropdown()">
                        <span th:text="${selectedOption == 'short_term' ? '4 weeks' : (selectedOption == 'medium_term' ? '6 months' : 'lifetime')}"></span>
                        <span class="arrow-period">▼</span>
                    </div>
                    <ul class="dropdown-list" id="dropdownList">
                        <li class="dropdown-item" data-value="short_term">4 weeks</li>
                        <li class="dropdown-item" data-value="medium_term">6 months</li>
                        <li class="dropdown-item" data-value="long_term">lifetime</li>
                    </ul>
                </div>

                <form id="hiddenForm"
                      th:action="${isOwnProfile} ? '/topTrack' : '/' + ${currentUser.id} + '/topTrack'"
                      method="get"
                      style="display: none;">
                    <input type="hidden" name="timePeriod" id="selectedTimePeriod" th:value="${selectedOption}">
                </form>
            </div>

            <div class="share-section">
                <form action="/createPlaylist" method="post" class="create-playlist-form">
                    <div th:each="track : ${tracks}">
                        <input type="hidden" name="trackUris" th:value="${track.uri}" />
                    </div>
                    <button type="submit" class="create-playlist-btn">
                        <img src="/static/images/playlist-button.svg" alt="Save Playlist" class="playlist-icon" />
                        <span class="button-text">Save as a playlist</span>
                    </button>
                </form>

                <button type="button" class="share-btn" onclick="openModal()">
                    <img src="/static/images/share-icon.svg" alt="Share" class="share-icon" />
                    <span class="button-text">Share</span>
                </button>
            </div>

        </div>

    </div>

    <div class="table-songs">
        <div th:each="track, index : ${tracks}">
            <a th:href="@{/tracks/{id}(id=${track.id})}" class="song-container">
                <p th:text="'#' + ${index.index + 1}" class="number"></p>
                <img th:src="${track.album.images[2].url}" alt="Album Cover" class="cover">
                <div class="song-data">
                    <p th:text="${track.name}" class="song-name"></p>
                    <div class="artist-album">
                        <p th:each="artist : ${track.getArtists()}" th:text="${artist.name} + '&nbsp;'" class="artist-name"></p>
                        <span class="separator">| </span>
                        <p th:text="${track.album.name}" class="album-name"></p>
                    </div>
                </div>
                <div class="arrow"></div>
            </a>
        </div>
    </div>


    <div th:replace="fragments/footer :: footer"></div>

    <!-- Modal -->
    <div id="imageModal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="div-content">
            <img class="modal-content" id="topTracksImage" th:src="'data:image/png;base64,' + ${base64EncodedImage}" />
            <a id="downloadLink" class="download-btn" th:href="'data:image/png;base64,' + ${base64EncodedImage}" download="top_tracks.png">Download</a>
            <button class="share" onclick="shareImage()">Share or Download</button>
        </div>
    </div>

    <script src="../static/script/shareButton.js"></script>
    <script>


        document.addEventListener("DOMContentLoaded", function() {
            var loader = document.getElementById("loader");

            // Показываем анимацию загрузки
            function showLoader() {
                document.body.classList.add("loading");
                loader.style.display = "flex";
            }

            // Скрываем анимацию загрузки
            function hideLoader() {
                document.body.classList.remove("loading");
                loader.style.display = "none";
            }

            // Показываем анимацию загрузки при загрузке страницы
            showLoader();

            // Скрываем анимацию загрузки после полной загрузки страницы
            window.addEventListener("load", function() {
                hideLoader();
            });

            // Можно также скрывать анимацию вручную, вызвав hideLoader() при необходимости
        });
    </script>

    <script src="../static/script/timeSelection.js"></script>
</body>
</html>
